@using SG50.Base.Util;
@{    
    Layout = null;
}
@functions{
    public string GetAntiForgeryToken()
    {
        string cookieToken, formToken;
        AntiForgery.GetTokens(null, out cookieToken, out formToken);
        return cookieToken + ":" + formToken;
    }
}

<!DOCTYPE html>

<html ng-app="AppRegistration">
<head>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Tell the browser not to keep cache -->
    <meta http-equiv='cache-control' content='no-cache'>
    <meta http-equiv='expires' content='0'>
    <meta http-equiv='pragma' content='no-cache'>
    <title>Register</title>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Application/Root/Config.js"></script>   
    <script src="~/Application/Administration/RegistrationController.js"></script>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" /> 
</head>
<body>    
    <div class="container">
        <div class="col-md-6 col-md-offset-3">
            <h2>Registration</h2>
            <form name="form" ng-submit="register()" ng-controller="RegistrationController" role="form">
                <div ng-show="error" class="alert alert-danger" ng-if="IsShow_error">{{error}}</div>
                <div ng-show="success" class="alert alert-success" ng-if="IsShow_success">{{success}}</div>
                <div class="form-group" ng-class="{ 'has-error': form.FirstName.$dirty && (form.FirstName.$error.required || form.FirstName.$error.pattern || form.FirstName.$error.maxlength) }">
                    <label for="FirstName">First Name</label>
                    <input type="text" name="FirstName" id="FirstName" class="form-control" ng-model="FirstName" ng-minlength="1" ng-maxlength="100" ng-pattern="@FormatStandardizer.Client_Name_SingleWord" required />
                    <span ng-show="form.FirstName.$dirty && form.FirstName.$error.required" class="help-block">First Name is required</span>
                    <span ng-show="form.FirstName.$dirty && form.FirstName.$error.pattern" class="help-block">Invalid First Name.</span>
                    <span ng-show="form.FirstName.$dirty && form.FirstName.$error.maxlength" class="help-block">Maximum length is 100</span>
                </div>
                <div class="form-group" ng-class="{ 'has-error': form.LastName.$dirty && (form.LastName.$error.required || form.LastName.$error.pattern || form.LastName.$error.maxlength) }">
                    <label for="LastName">Last Name</label>
                    <input type="text" name="LastName" id="LastName" class="form-control" ng-model="LastName" ng-minlength="1" ng-maxlength="100" ng-pattern="@FormatStandardizer.Client_Name_SingleWord" required />
                    <span ng-show="form.LastName.$dirty && form.LastName.$error.required" class="help-block">Last Name is required</span>
                    <span ng-show="form.LastName.$dirty && form.LastName.$error.pattern" class="help-block">Invalid Last Name.</span>
                    <span ng-show="form.LastName.$dirty && form.LastName.$error.maxlength" class="help-block">Maximum length is 100</span>
                </div>
                <div class="form-group" ng-class="{ 'has-error': form.Email.$dirty && (form.Email.$error.required || form.Email.$error.pattern || form.Email.$error.maxlength) }">
                    <label for="Email">Email</label>
                    <input type="text" name="Email" id="Email" class="form-control" ng-model="Email" ng-minlength="1" ng-maxlength="100" ng-pattern="@FormatStandardizer.Client_EmailFormat" required />
                    <span ng-show="form.Email.$dirty && form.Email.$error.required" class="help-block">Email is required</span>
                    <span ng-show="form.Email.$dirty && form.Email.$error.pattern" class="help-block">Invalid Email.</span>
                    <span ng-show="form.Email.$dirty && form.Email.$error.maxlength" class="help-block">Maximum length is 100</span>
                </div>                
                <div class="form-group" ng-class="{ 'has-error': form.Password.$dirty && (form.Password.$error.required || form.Password.$error.pattern || form.Password.$error.maxlength) }">
                    <label for="Password">Password</label>
                    <input type="password" name="Password" id="Password" class="form-control" ng-model="Password" ng-minlength="1" ng-maxlength="100" ng-pattern="@FormatStandardizer.Client_Password" required />
                    <span ng-show="form.Password.$dirty && form.Password.$error.required" class="help-block">Password is required</span>
                    <span ng-show="form.Password.$dirty && form.Password.$error.pattern" class="help-block">Invalid Password.</span>
                    <span ng-show="form.Password.$dirty && form.Password.$error.maxlength" class="help-block">Maximum length is 100</span>
                </div>
                <div class="form-group" ng-class="{ 'has-error': form.ConfirmPassword.$dirty && (form.ConfirmPassword.$error.required || form.ConfirmPassword.$invalid) }">
                    <label for="ConfirmPassword">ConfirmPassword</label>
                    <input type="password" name="ConfirmPassword" id="ConfirmPassword" class="form-control" ng-model="ConfirmPassword" ng-match="Password" required />
                    <span ng-show="form.ConfirmPassword.$dirty && form.ConfirmPassword.$error.required" class="help-block">ConfirmPassword is required</span>
                    <span ng-show="form.ConfirmPassword.$dirty && form.ConfirmPassword.$invalid" class="help-block">Password have to match</span>
                </div>               
                <div class="form-actions">
                    <button type="submit" ng-disabled="form.$invalid || dataLoading" class="btn btn-primary">Register</button>
                    <img ng-if="dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                    <a href="" class="btn btn-link" ng-click="Login();">Login</a>                    
                </div>
                <div><input id="antiForgeryToken" data-ng-model="antiForgeryToken" type="hidden" data-ng-init="antiForgeryToken='@GetAntiForgeryToken()'" /></div>                
            </form>
            
        </div>
    </div>
</body>
</html>
